@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --primary: #0d6efd;
    --primary-active: #0b57c7;
    --background-active: rgba(255, 255, 255, 1);
    --background-no-active: rgba(0, 0, 0, 0.5);
}

/* body */
body {
    font-family: 'Ubuntu', sans-serif;
}

/* margin */
.mt-1 {
    margin-top: 4px !important;
}
.mt-2 {
    margin-top: 8px !important;
}
