@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --primary: #0d6efd;
    --primary-active: #0b57c7;
    --success: #47ab1d;
    --success-active: #198754;
    --danger: #dc3545;
    --danger-active: #a02a35;
    --mute: #808080;
    --background-active: rgba(255, 255, 255, 1);
    --background-no-active: rgba(0, 0, 0, 0.5);
    --background-dark: #212529;
    --text-normal: #161718;
    --text-for-dark: #c7c7c7;
}

/* body */
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

/* margin */
.mt-0 {
    margin-top: 0 !important;
}
.mt-1 {
    margin-top: .25rem !important;
}
.mt-2 {
    margin-top: .5rem !important;
}

.mr-0 {
    margin-right: 0 !important;
}
.mr-1 {
    margin-right: .25rem !important;
}
.mr-2 {
    margin-right: .5rem !important;
}
